
.userEntry {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

.page {
    flex-grow: 1;
    background-image: url('../../assets/ignasi_pattern_s.png');
    background-repeat: repeat;
}