@value bulma 'bulma/css/bulma.css';

.banner { composes: hero from bulma; }

.bannerBody { composes: hero-body from bulma; }

.bannerHead { composes: hero-head from bulma; }

.bannerFoot { composes: hero-foot from bulma; }

.isBold { composes: is-bold from bulma; }


.isPrimary { composes: is-primary from bulma; }

.isLink { composes: is-link from bulma; }

.isInfo { composes: is-info from bulma; }

.isSuccess { composes: is-success from bulma; }

.isWarning { composes: is-warning from bulma; }

.isDanger { composes: is-danger from bulma; }

.isDark { composes: is-dark from bulma; }

.isLight { composes: is-light from bulma; }


.isMedium { composes: is-medium from bulma; }

.isLarge { composes: is-large from bulma; }

.isFullHeight { composes: is-fullheight from bulma; }
