@value bulma 'bulma/css/bulma.css';

.title1 {
    composes: title from bulma;
    composes: is-1 from bulma;
}

.title2 {
    composes: title from bulma;
    composes: is-2 from bulma;
}

.title3 {
    composes: title from bulma;
    composes: is-3 from bulma;
}

.title4 {
    composes: title from bulma;
    composes: is-4 from bulma;
}

.title5 {
    composes: title from bulma;
    composes: is-5 from bulma;
}

.title6 {
    composes: title from bulma;
    composes: is-6 from bulma;
}

.subtitle1 {
    composes: subtitle from bulma;
    composes: is-1 from bulma;
}

.subtitle2 {
    composes: subtitle from bulma;
    composes: is-2 from bulma;
}

.subtitle3 {
    composes: subtitle from bulma;
    composes: is-3 from bulma;
}

.subtitle4 {
    composes: subtitle from bulma;
    composes: is-4 from bulma;
}

.subtitle5 {
    composes: subtitle from bulma;
    composes: is-5 from bulma;
}

.subtitle6 {
    composes: subtitle from bulma;
    composes: is-6 from bulma;
}


