.backgroundCommon {
  composes: section from '../bulma.scss';
}

.backgroundDefault {
  background-image: url('../assets/ignasi_pattern_s.png');
  background-repeat: repeat;
}

.pageCommon {
  composes: box from '../bulma.scss';
}

.pageDefault {
  composes: container from '../bulma.scss';
  composes: is-widescreen from '../bulma.scss';
}
